.item{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.item div{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.item button{
    background-color: #F61067;
}